.stats-card{

    background:#111b33;

    border-radius:16px;

    height:140px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    transition:.3s;

    box-shadow:0 0 18px rgba(111,108,255,.15);

}

.stats-card:hover{

    transform:translateY(-6px);

    box-shadow:0 0 30px rgba(111,108,255,.35);

}

.icon{

    font-size:38px;

    margin-bottom:10px;

}

.stats-card h2{

    color:#6f6cff;

    font-size:28px;

    margin:0;

}

.stats-card p{

    margin-top:8px;

    color:#c6cbe5;

    font-size:15px;

}