/* ============================= */
/* QuantumShield-X Global Theme  */
/* ============================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

  --primary:#6C63FF;
  --primary-dark:#5848ff;

  --background:#081224;

  --surface:#111C34;

  --surface-light:#182442;

  --text:#ffffff;

  --text-secondary:#98A7C7;

  --success:#10B981;

  --warning:#FBBF24;

  --danger:#EF4444;

  --border:rgba(255,255,255,.08);

  --radius:18px;

  --shadow:
      0 10px 30px rgba(0,0,0,.35);

  --transition:.30s ease;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    background:var(--background);

    color:white;

    overflow-x:hidden;

}

button{

    font-family:'Poppins',sans-serif;

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#0d1630;

}

::-webkit-scrollbar-thumb{

    background:#3539a3;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#565BFF;

}